<ion-list lines="none">
    <ion-item *ngFor="let recipe of recipes">
      <ion-card class="plate-item">
        <div
          router-direction="forward"
          class="plate-image"
          [ngStyle]="{'background-image': 'url(' + (recipe.image_data && recipe.image_data.image ? recipe.image_data.image: 'https://ionicframework.com/docs/img/demos/card-media.png') + ')'}"
        >
        <div class="creator-line" [routerLink]="['/profile', recipe.creator.id]">
          <div
            class="creator-image"
            [ngStyle]="{
              'background-image': 'url(' + (recipe && recipe.creator && recipe.creator.image ? recipe.creator.image.image : 'https://ionicframework.com/docs/img/demos/avatar.svg') + ')'
            }"
          >
          </div>
          <ion-text class="username">
              {{ recipe.creator.username }}
          </ion-text>
        </div>
          <ion-ripple-effect></ion-ripple-effect>
        </div>
        <ion-card-header
          class="recipe-card-header"
          router-direction="forward" 
          [routerLink]="['/recipes', recipe.id]">
          <ion-card-title>{{recipe.name}}</ion-card-title>
          <ion-card-subtitle>
            <ion-text
              *ngFor="let category of recipe.category_data; let last = last"
              >{{category.name}}{{ last ? '' : ', ' }}</ion-text>
          </ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          {{ recipe.description.length > 75 ? (recipe.description | slice:0:75) + '...' : recipe.description }}
          <br>
          <ion-grid>
            <ion-row>
              <ion-col>
                {{ recipe.allergens }}
              </ion-col>
              <ion-col size="auto">
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="!loaded" lines="none">
    <ion-item *ngFor="let dummy of ' '.repeat(3).split(''), let x = index">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-skeleton-text class="loading-image" [animated]="true"></ion-skeleton-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-skeleton-text [animated]="true" style="width: 25%;"></ion-skeleton-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-skeleton-text [animated]="true" style="width: 70%;height: 20px;"></ion-skeleton-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-skeleton-text [animated]="true" style="width: 80%;height: 10px;"></ion-skeleton-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-skeleton-text [animated]="true" style="width: 75%;height: 10px;"></ion-skeleton-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

  <p
    *ngIf="loaded && recipes.length == 0"
    style="text-align: center;color: #979191;">
      Todavía no hay recetas, ¡añade alguna!
  </p>

  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>