<div class="category-container">
  <div style="text-align: center; color: gray;margin-bottom: 10px;margin-top: 20px;">
    <ion-label
      *ngIf="showNoMoreCategoryText"
    >Solo puedes seleccionar {{ categoryLimit }} categorias</ion-label>
  </div>
  <ion-chip
    class="category-chip"
    *ngFor="let category of categories"
    [outline]="true"
    (click)="selectCategory(category)" 
    [color]="hasCategory(category) ? 'primary' : ''">
    {{category.name}}
  </ion-chip>
  <ion-chip [outline]="true" *ngIf="searchedText && selectedCategories.length < 1" (click)="createCategory()">
    {{searchedText}}
  </ion-chip>
</div>