<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref='/profile'></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>Hecho</ion-button>
    </ion-buttons>
    <ion-title>
      Ajustes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-toggle [checked]="true">Usar tema oscuro</ion-toggle>
    </ion-item>
  </ion-list>
  <app-allergens-check></app-allergens-check>
</ion-content>
