<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref='/admin/options'></ion-back-button>
        </ion-buttons>
        <ion-title>
            Products
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">

    <ion-alert
        trigger="present-alert"
        header="Add product"
        [buttons]="alertButtons"
        [inputs]="alertInputs"
        (didDismiss)="createProduct($event)"
    ></ion-alert>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button id="present-alert">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

    <ion-list lines="none">
        <ion-item *ngFor="let product of products; index as i">
            <ion-input [(ngModel)]="product.name">
            </ion-input>
            <ion-button
                slot="end"
                expand="block"
                fill="clear"
                color="waring"
                (click)="openAllergensModal(product)"
            >
                <ion-icon name="flask-outline"></ion-icon>
            </ion-button>
            <ion-button
                slot="end"
                expand="block"
                fill="clear"
                color="success"
                (click)="updateProduct(product)"
            >
                <ion-icon name="save-outline"></ion-icon>
            </ion-button>
            <ion-button
                slot="end"
                expand="block"
                fill="clear"
                color="danger"
                (click)="deleteProduct(product, i)"
            >
                <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
        </ion-item>
    </ion-list>
    <ion-modal [isOpen]="isAllergensModalOpen">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-title>Allergens</ion-title>
              <ion-buttons slot="end">
                <ion-button (click)="applyAllergens()">Done</ion-button>
              </ion-buttons>
              <ion-buttons slot="start">
                <ion-button (click)="isAllergensModalOpen=false">Cancel</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <ion-content class="ion-padding">
            <ion-list>
                <ion-item *ngFor="let allergen of allergens; index as i">
                    <ion-button (click)="toggleSelectAllergen(allergen, i)" slot="start" expand="block" fill="clear">
                        <ion-icon
                            name="radio-button-on-outline"
                            *ngIf="selectedProduct.allergens!.includes(allergen.id)"
                        ></ion-icon>
                        <ion-icon
                            name="radio-button-off-outline"
                            *ngIf="!selectedProduct.allergens!.includes(allergen.id)"
                        ></ion-icon>
                      </ion-button>
                        {{allergen.emoji}}
                        {{allergen.name}}
                </ion-item>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-modal>
</ion-content>