.search-tab {
    text-align: center;
    //padding: 14px 10px 10px 10px;
    font-size: large;
}

.selected {
    border-bottom: 2px solid black;
}


@media (prefers-color-scheme: dark) {
    .selected {
        border-bottom: 2px solid white;
    }
}

.search-bar{
    padding-top: 20px;
}