<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Receta
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/recipes" ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-fab slot="fixed" vertical="top" horizontal="end">


    <ion-fab-button
      size="small"
      color="light"
      (click)="saveRecipe(recipe.id)"
    >
      <ion-icon
        *ngIf="!saved"
        name="bookmark-outline">
      </ion-icon>
      <ion-icon
        *ngIf="saved"
        name="bookmark">
      </ion-icon>
    </ion-fab-button>


    <ion-fab-button
      *ngIf="isOwner"
      color="light"
      size="small"
      fill="clear"
      (click)="togglePublic()"
    >
      <ion-icon 
          name="eye-outline"
          *ngIf="recipe.is_public"
      ></ion-icon>
      <ion-icon
          name="eye-off-outline"
          *ngIf="!recipe.is_public"
      ></ion-icon>
    </ion-fab-button>

    <ion-fab-button
        *ngIf="isOwner"
        color="light"
        size="small"
        [routerLink]="['/recipes', recipe.id, 'edit']"
    >
      <ion-icon name="pencil-outline"></ion-icon>
    </ion-fab-button>

    <ion-fab-button
        *ngIf="isOwner"
        size="small"
        (click)="presentDeleteAlert()"
        color="danger"
    >
      <ion-icon name="trash-outline"></ion-icon>
    </ion-fab-button>

  </ion-fab>

  <div class="plate-detail-image"
    [ngStyle]="{'background-image': 'url(' + recipe.image_data.image + ')'}">
  </div>


  <div class="plate-content">
    <ion-grid>
      <ion-row>
        <ion-col>
          <h2 class="plate-title">
            {{recipe.name}}
          </h2>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
          <ion-icon name="time-outline" class="plate-time-clock"></ion-icon>
          {{recipe.time}} min
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="plate-description">
          {{recipe.description}}
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-segment color="dark" value="dark" class="plate-segment">
      <ion-segment-button value="dark">
        <ion-label>Ingredientes</ion-label>
      </ion-segment-button>
      <ion-segment-button value="segment">
        <ion-label>Pasos</ion-label>
      </ion-segment-button>
    </ion-segment>

    <ion-list lines="none">
      <ion-item 
        *ngFor="let ingredient of recipe.ingredients"
      >
        <ion-grid>
          <ion-row>
            <ion-col size="auto">
              <ion-icon style="margin-top: 9px;" size="large" color="primary" name="fast-food-outline"></ion-icon>
            </ion-col>
            <ion-col style="padding: 20px 3px;">
              {{ ingredient.product_name.charAt(0).toUpperCase() + ingredient.product_name.slice(1) }}
            </ion-col>
            <ion-col size="auto" style="color: grey;font-size: 13px;">
              {{ingredient.quantity}} {{ingredient.unit}}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>

    
  </div>

</ion-content>
