<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Receta
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/recipes" ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-fab slot="fixed" vertical="top" horizontal="start">

    <ion-fab-button
      size="small"
      color="light"
      class="recipe-creator-fab"
      [routerLink]="['/profile', recipe.creator.id]"
    >
      <div class="recipe-creator-image"
      [ngStyle]="{
        'background-image': 'url(' + (recipe.creator.image ? recipe.creator.image.image : 'https://ionicframework.com/docs/img/demos/avatar.svg') + ')'
      }"
      ></div>
      <ion-text class="recipe-creator-username">
        {{ recipe.creator.username.length > 6 ? (recipe.creator.username | slice:0:4) + '...' : recipe.creator.username }}
      </ion-text>
    </ion-fab-button>

  </ion-fab>

  <ion-fab slot="fixed" vertical="top" horizontal="end">

    <ion-fab-button
      size="small"
      color="light"
      (click)="showSaveToast()"
    >
      <ion-icon
        *ngIf="!saved"
        name="bookmark-outline">
      </ion-icon>
      <ion-icon
        *ngIf="saved"
        name="bookmark">
      </ion-icon>
    </ion-fab-button>


    <ion-fab-button
      *ngIf="isOwner"
      color="light"
      size="small"
      fill="clear"
      (click)="togglePublic()"
    >
      <ion-icon 
          name="eye-outline"
          *ngIf="recipe.is_public"
      ></ion-icon>
      <ion-icon
          name="eye-off-outline"
          *ngIf="!recipe.is_public"
      ></ion-icon>
    </ion-fab-button>

    <ion-fab-button
        *ngIf="isOwner"
        color="light"
        size="small"
        [routerLink]="['/recipes', recipe.id, 'edit']"
    >
      <ion-icon name="pencil-outline"></ion-icon>
    </ion-fab-button>

    <ion-fab-button
        *ngIf="isOwner"
        size="small"
        (click)="presentDeleteAlert()"
        color="danger"
    >
      <ion-icon name="trash-outline"></ion-icon>
    </ion-fab-button>

  </ion-fab>

  <div class="plate-detail-image"
    [ngStyle]="{'background-image': 'url(' + recipe.image_data.image + ')'}">
  </div>


  <div class="plate-content">
    <h3 class="plate-title">
      {{recipe.name}}
    </h3>
    <div class="recipe-time">
      <ion-icon name="time-outline" class="plate-time-clock"></ion-icon>
      {{recipe.time}} min
    </div>
    
    <p class="plate-description">
      {{ showDescription ? recipe.description : shortDescription }}
      <ion-text (click)="toggleFullDescription()" class="view-more" style="font-weight: bold;">
        {{ showDescription ? 'Ver menos' : 'Ver más' }}
      </ion-text>
    </p>
    


    <ion-segment
      (ionChange)="changeIngredientSegment($event)"
      color="dark"
      class="plate-segment"
      value="ingredient"
      style="margin: 20px 0px"
    >
      <ion-segment-button value="ingredient">
        <ion-label>Ingredientes</ion-label>
      </ion-segment-button>
      <ion-segment-button value="description">
        <ion-label>Pasos</ion-label>
      </ion-segment-button>
    </ion-segment>
    <div
      *ngIf="!isIngredientSegment"
      class="plate-description"
    >
    <ion-button
        *ngIf="isOwner"
        size="small"
        expand="full"
        color="light"
        [routerLink]="['/recipes', recipe.id, 'edit', 'steps']"
        class="edit-button"
      >
        Editar
      </ion-button>

    <ion-accordion-group multiple="true" [value]="['first']">
      <ion-accordion [value]="step.number" *ngFor="let step of recipe.steps">
        <ion-item slot="header" color="light">
          <ion-label>Paso {{ step.number }}</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          {{ step.description }}
          <div>
            <ion-chip
              *ngFor="let relatedRecipe of step.related_recipes_data; let y = index"
              [routerLink]="['/recipes', relatedRecipe.id]"
            >
              {{ relatedRecipe.name.length > 15 ? (relatedRecipe.name | slice:0:15) + '...' : relatedRecipe.name }}
            </ion-chip>
          </div>
        </div>
      </ion-accordion>
    </ion-accordion-group>
    </div>
    <div *ngIf="isIngredientSegment">
      <ion-button
        *ngIf="isOwner"
        size="small"
        expand="full"
        color="light"
        [routerLink]="['/recipes', recipe.id, 'edit', 'ingredients']"
        class="edit-button"
      >
        Editar
      </ion-button>

      <ion-list>
        <ion-item
          *ngFor="let ingredient of recipe.ingredients"
        >
          <ion-grid>
            <ion-row>
              <ion-col size="auto">
                <ion-icon style="margin-top: 17px;" color="primary" name="restaurant-outline"></ion-icon>
              </ion-col>
              <ion-col style="padding: 20px 3px;">
                {{ ingredient.food_name.charAt(0).toUpperCase() + ingredient.food_name.slice(1) }}
              </ion-col>
              <ion-col size="auto" style="color: grey;font-size: 13px;padding: 20px 3px;">
                {{ingredient.quantity}} {{ingredient.unit == "-" ? "" : ingredient.unit}}
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </div>
  </div>


  <ion-modal
    [isOpen]="showSavedListsModal"
    [initialBreakpoint]="0.6"
    [breakpoints]="[0.6]"
    [backdropDismiss]="true"
    [backdropBreakpoint]="0.3"
    (didDismiss)="closeSearch()"
    id="search-modal"
>
    <ng-template>
        <ion-header [translucent]="true">
          </ion-header>
        <ion-content id="main-content" [fullscreen]="true">
          <div style="margin: 20px">
              <ion-list lines="none">
                <ion-item
                  class="list-item"
                  *ngFor="let list of recipeLists"
                  (click)="saveOnList(list)"
                >
                <ion-ripple-effect></ion-ripple-effect>
                  <div class="list-icon"
                  [ngStyle]="{
                    'background-image': 'url(' + (list.recipes_data[0] ? list.recipes_data[0].image_data.image : '') + ')'
                  }"
                  >
                  </div>
                  {{list.name}}
                </ion-item>
              </ion-list>
          </div>
        </ion-content>
    </ng-template>
</ion-modal>

</ion-content>
