<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Profile
      </ion-title>
        <ion-buttons slot="end">
            <ion-button id="profile-menu">
                <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
  </ion-header>
<ion-content [fullscreen]="true">
    <ion-alert
        trigger="present-alert"
        header="Crea una lista"
        [buttons]="alertButtons"
        [inputs]="alertInputs"
        (didDismiss)="setResult($event)"
    ></ion-alert>
    <ion-action-sheet 
        translucent="true"
        trigger="profile-menu"
        [buttons]="menuButtons"
        (didDismiss)="profileMenuResult($event)"
    ></ion-action-sheet>
    <ion-grid>
        <ion-row>
            <ion-col>
                <div
                    class="image"
                    [ngStyle]="
                        {
                        'background-image':
                        'url(' + (imageUrl ? imageUrl : 'https://ionicframework.com/docs/img/demos/avatar.svg') + ')'
                        }
                    ">
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-text>
                    <h3 *ngIf="loaded" style="text-align: center;">@{{user.username}}</h3>
                    <ion-skeleton-text
                        [animated]="true"
                        style="width: 70px;margin:0px auto"
                        *ngIf="!loaded"
                        ></ion-skeleton-text>
                </ion-text>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid>
        <ion-row>
            <ion-col  [ngClass]="{'selected': tab.selected}" (click)="selectTab(tab)" class="profile-tab" *ngFor="let tab of tabs">
                <ion-icon [name]="!tab.selected ? tab.icon + '-outline' : tab.icon"></ion-icon>
                <ion-ripple-effect></ion-ripple-effect>
            </ion-col>
        </ion-row>
    </ion-grid>

    <div *ngIf="isTabSelected('recipes')">
        <app-recipe-table [loaded]="recipesLoaded" [recipes]="myRecipes"></app-recipe-table>
    </div>

    <ion-grid  *ngIf="isTabSelected('saved')">
        <ion-row>
            <ion-col size="6" *ngFor="let recipeList of recipeLists">
                <ion-card style="max-height: 197px ;" (click)="goList(recipeList.id)">
                    <ion-icon class="saved-icon saved-icon-bg" name="bookmark" *ngIf="recipeList.is_default_list"></ion-icon>
                    <ion-grid [ngClass]="{'four-recipes-default': recipeList.is_default_list}" class="four-recipes">
                        <ng-container *ngFor="let row of [0, 2]">
                            <ion-row>
                                <ng-container *ngFor="let col of [0, 1]">
                                    <ion-col
                                        class="recipe-detail"
                                        [ngStyle]="{
                                            'border-top-left-radius': row === 0 && col === 0 ? '10px' : '0',
                                            'border-top-right-radius': row === 0 && col === 1 ? '10px' : '0',
                                            'border-bottom-left-radius': row === 1 && col === 0 ? '10px' : '0',
                                            'border-bottom-right-radius': row === 1 && col === 1 ? '10px' : '0',
                                            'background-image': 'url(' + ((recipeList.recipes_data[row * 2 + col] && recipeList.recipes_data[row * 2 + col].image_data) ? recipeList.recipes_data[row * 2 + col].image_data.image : '') + ')'
                                        }"
                                    ></ion-col>
                                </ng-container>
                            </ion-row>
                        </ng-container>
                    </ion-grid>
                    <h5 [ngClass]="{'default-name': recipeList.is_default_list}" class="list-name">
                        {{recipeList.name}}
                    </h5>
                </ion-card>
            </ion-col>
            <ion-col size="6">
                <ion-card id="present-alert">
                    <ion-grid class="four-recipes">
                        <ion-row>
                            <ion-col class="recipe-detail-big" style="font-size: 60px;">
                                <ion-icon name="add-outline" style="margin: 20px"></ion-icon>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                    <h5 style="padding: 5px 10px;">Nueva lista</h5>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>