ion-grid {
    margin-top: 20px;
}

.profile-image{
    margin: 0px auto;
    width: 50px;
}

.image {
    margin: 0px auto;
    width: 50px;
    height: 50px;
    padding: 50px;
    border-radius: 100%;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.recipe-detail-big{
    background-color: #555555;
    width: 40px;
    height: 120px;
    text-align: center;
    border-radius: 10px;
}

.four-recipes{
    margin: 10px;
}

.four-recipes-default{
    position: relative;
    top: -40px;
}

.list-name{
    padding: 5px 20px;
}

.recipe-detail-big{
    background-color: #f3f3f3;
    width: 40px;
    height: 120px;
    text-align: center;
    border-radius: 10px;
}

.recipe-detail{
    background-color: #f3f3f3;
    width: 20px;
    height: 60px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.profile-tab {
    text-align: center;
    padding: 14px 10px 10px 10px;
    font-size: x-large;
}

.profile-tab.selected {
    border-bottom: 2px solid black;
}

.saved-icon{
    border-radius: 100%;
    z-index: 1;
    position: relative;
    top: 3px;
    left: 3px;
    padding: 10px;
    font-size: large;
}

.saved-icon-bg{
    background-color: white;
}

.default-name{
    position: relative;
    top: -40px;
}

@media (prefers-color-scheme: dark) {
    .recipe-detail-big{
        background-color: #555555;
        width: 40px;
        height: 120px;
        text-align: center;
        border-radius: 10px;
    }
    
    .recipe-detail{
        background-color: #555555;
        width: 20px;
        height: 60px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .saved-icon-bg{
        background-color: #1c1c1d;
    }

    .profile-tab.selected {
        border-bottom: 2px solid white;
    }
}