<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Recetas
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="filter-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      show-cancel-button="focus" 
      placeholder="Search" 
      (ionInput)="handleSearch($event)">
      <!--(ionClear)="handleSearch($event)"-->
    </ion-searchbar>
    <div class="categories">
      <ion-chip 
        *ngFor="let category of recipeCategories"
        (click)="getRecipes([category.id])"
        [outline]="selectedCategory != category.id">
        {{category.name}}
      </ion-chip>
      <!-- Skeleton Categories chip -->
      <div *ngIf="!categoriesLoaded">
        <ion-chip [outline]="true">
          <ion-skeleton-text [animated]="true" style="width: 40px;"></ion-skeleton-text>
        </ion-chip>
        <ion-chip [outline]="true">
          <ion-skeleton-text [animated]="true" style="width: 70px;"></ion-skeleton-text>
        </ion-chip>
        <ion-chip [outline]="true">
          <ion-skeleton-text [animated]="true" style="width: 50px;"></ion-skeleton-text>
        </ion-chip>
        <ion-chip [outline]="true">
          <ion-skeleton-text [animated]="true" style="width: 40px;"></ion-skeleton-text>
        </ion-chip>
        <ion-chip [outline]="true">
          <ion-skeleton-text [animated]="true" style="width: 50px;"></ion-skeleton-text>
        </ion-chip>
        <ion-chip [outline]="true">
          <ion-skeleton-text [animated]="true" style="width: 50;"></ion-skeleton-text>
        </ion-chip>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu Content</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">This is the menu content.</ion-content>
  </ion-menu>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button [routerLink]="['/recipes/new']">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list lines="none">
    <ion-item *ngFor="let recipe of recipes">
      <ion-card class="plate-item">
        <div
          router-direction="forward" 
          [routerLink]="['/recipes', recipe.id]"
          class="plate-image"
          [ngStyle]="{'background-image': 'url(' + (recipe.image_data && recipe.image_data.image ? recipe.image_data.image: 'https://ionicframework.com/docs/img/demos/card-media.png') + ')'}"
        ><ion-ripple-effect></ion-ripple-effect></div>
        <ion-card-header
          class="recipe-card-header"
          router-direction="forward" 
          [routerLink]="['/recipes', recipe.id]">
          <ion-ripple-effect></ion-ripple-effect>
          <ion-card-title>{{recipe.name}}</ion-card-title>
          <ion-card-subtitle>
            <ion-text
              *ngFor="let category of recipe.category_data; let last = last"
              >{{category.name}}{{ last ? '' : ', ' }}</ion-text>
          </ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          {{ recipe.description.length > 75 ? (recipe.description | slice:0:75) + '...' : recipe.description }}
          <br>
          <ion-grid>
            <ion-row>
              <ion-col>
                🍖 🌾 🥚 🦀
              </ion-col>
              <ion-col size="auto">
                <ion-button fill="clear" (click)="saveRecipe(recipe.id)">
                  <ion-icon
                    *ngIf="!recipe.saved_by.includes(userId)"
                    slot="icon-only"
                    name="bookmark-outline">
                  </ion-icon>
                  <ion-icon
                    *ngIf="recipe.saved_by.includes(userId)"
                    slot="icon-only"
                    name="bookmark">
                  </ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="!loaded" lines="none">
    <ion-item *ngFor="let dummy of ' '.repeat(3).split(''), let x = index">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-skeleton-text class="loading-image" [animated]="true"></ion-skeleton-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-skeleton-text [animated]="true" style="width: 25%;"></ion-skeleton-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-skeleton-text [animated]="true" style="width: 70%;height: 20px;"></ion-skeleton-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-skeleton-text [animated]="true" style="width: 80%;height: 10px;"></ion-skeleton-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-skeleton-text [animated]="true" style="width: 75%;height: 10px;"></ion-skeleton-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

  <p
    *ngIf="loaded && recipes.length == 0"
    style="text-align: center;color: #979191;">
      Todavía no hay recetas, ¡añade alguna!
  </p>
</ion-content>
