<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Recetas
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="filter-circle-outline"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      show-cancel-button="never"
      placeholder="Búsqueda"
      (ionInput)="handleSearch($event)"
      (ionFocus)="searchFocus()"
      (ionCancel)="closeSearch()">
    </ion-searchbar>
    <div class="categories">
      <ion-chip 
        *ngFor="let category of recipeCategories"
        (click)="getRecipes([category.id])"
        [outline]="selectedCategory != category.id">
        {{category.name}}
      </ion-chip>
      <!-- Skeleton Categories chip -->
      <div *ngIf="!categoriesLoaded">
        <ion-chip [outline]="true">
          <ion-skeleton-text [animated]="true" style="width: 40px;"></ion-skeleton-text>
        </ion-chip>
        <ion-chip [outline]="true">
          <ion-skeleton-text [animated]="true" style="width: 70px;"></ion-skeleton-text>
        </ion-chip>
        <ion-chip [outline]="true">
          <ion-skeleton-text [animated]="true" style="width: 50px;"></ion-skeleton-text>
        </ion-chip>
        <ion-chip [outline]="true">
          <ion-skeleton-text [animated]="true" style="width: 40px;"></ion-skeleton-text>
        </ion-chip>
        <ion-chip [outline]="true">
          <ion-skeleton-text [animated]="true" style="width: 50px;"></ion-skeleton-text>
        </ion-chip>
        <ion-chip [outline]="true">
          <ion-skeleton-text [animated]="true" style="width: 50;"></ion-skeleton-text>
        </ion-chip>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-menu side="end" contentId="main-content" style="z-index: 1;">
  <ion-content style="position: relative; top: 15%;" class="ion-padding">
    <app-allergens-check [(allergensSelected)]="selectedAllergens"></app-allergens-check>
    <ion-button expand="block" style="margin-top: 20px">
      Aplicar filtros
    </ion-button>
  </ion-content>
</ion-menu>

<ion-content id="main-content" [fullscreen]="true">

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button [routerLink]="['/recipes/new']">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

    <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <app-recipe-table
      [loaded]="loaded"
      [recipes]="recipes"
      (infiniteScroll)="handleInfiniteScroll($event)"
    ></app-recipe-table>


  <ion-modal
    [isOpen]="showSearch"
    [initialBreakpoint]="1"
    [breakpoints]="[1, 0.6]"
    [backdropDismiss]="true"
    [backdropBreakpoint]="0.3"
    (didDismiss)="closeSearch()"
    id="search-modal"
  >
    <ng-template>
      <app-search-component
        (closeModalEvent)="closeSearch()"
        (forceCloseModalEvent)="forceCloseSearch()"
      ></app-search-component>
    </ng-template>
  </ion-modal>

</ion-content>
