<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Receta
    </ion-title>
    <ion-buttons slot="end">
        <ion-button (click)="submit()">Hecho</ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/recipes" ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="recipeForm">
    <ion-icon name="pencil-outline" class="edit-pencil"></ion-icon>
    <app-image-picker
      (selectImage)="imageSelected($event)"
      [imageUrl]="selectedImage"
      [width]="'100%'"
      [height]="'300px'"
      [customImageUrl]="selectedImage"
    ></app-image-picker>
    <div class="plate-content">
      <ion-list>
        <ion-item>
          <ion-label position="stacked">
            <ion-icon slot="start" name="text-outline"></ion-icon>
            Nombre
          </ion-label>
          <ion-input
            aria-label="Nombre"
            formControlName="name">
          </ion-input>

        </ion-item>

        <ion-item lines="none">
          <div class="time-diners">
            <ion-item style="position: relative; left: -16px;">
              <ion-label position="stacked">
                <ion-icon slot="start" name="time-outline"></ion-icon>
                Tiempo (min)
              </ion-label>
                <ion-input
                  aria-label="Tiempo (min)"
                  formControlName="time"
                  type="number">
                </ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">
                <ion-icon slot="start" name="people-outline"></ion-icon>
                Comensales
              </ion-label>
              <ion-input
                aria-label="Comensales"
                formControlName="diners"
                type="number">
              </ion-input>
            </ion-item>
          </div>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">
            <ion-icon slot="start" name="create-outline"></ion-icon>
            Descripción
          </ion-label>
          <ion-textarea
            formControlName="description"
            style="padding-bottom: 50px;"
            rows="10"
            >
          </ion-textarea>
        </ion-item>

        <ion-item>
          <ion-select
            formControlName="category"
            (ionChange)="handleChangeCategorySelect($event)"
            labelPlacement="fixed"
            label="Categorias"
            [multiple]="true">
            <ion-select-option 
              *ngFor="let recipeCategory of recipeCategories" 
              [value]="recipeCategory.id"
              >
              {{recipeCategory.name}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </div>
  </form>
</ion-content>
