<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Perfil
      </ion-title>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
        <ion-buttons slot="end" *ngIf="user && itsMe()">
            <ion-button (click)="setOpen(true)">
                <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
  </ion-header>
<ion-content [fullscreen]="true">
    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>

    <ion-action-sheet
        [isOpen]="isActionSheetOpen"
        translucent="true"
        [buttons]="menuButtons"
        (didDismiss)="profileMenuResult($event)"
    ></ion-action-sheet>
    <ion-grid>
        <ion-row>
            <ion-col>
                <div
                    class="image"
                    [ngStyle]="
                        {
                        'background-image':
                        'url(' + (user && user.image  ? user.image_data.image : 'https://ionicframework.com/docs/img/demos/avatar.svg') + ')'
                        }
                    ">
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-text>
                    <h3 *ngIf="loaded" style="text-align: center;">@{{user.username}}</h3>
                    <ion-skeleton-text
                        [animated]="true"
                        style="width: 70px;margin:0px auto"
                        *ngIf="!loaded"
                        ></ion-skeleton-text>
                </ion-text>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid *ngIf="user && itsMe()">
        <ion-row>
            <ion-col [ngClass]="{'selected': tab.selected}" (click)="selectTab(tab)" class="profile-tab" *ngFor="let tab of tabs">
                <ion-icon [name]="!tab.selected ? tab.icon + '-outline' : tab.icon"></ion-icon>
                <ion-ripple-effect></ion-ripple-effect>
            </ion-col>
        </ion-row>
    </ion-grid>

    <div *ngIf="user && isTabSelected('recipes')">
        <app-profile-recipes
            #publicRecipes
            [is_public]="true"
            [owner]="user.id"
        ></app-profile-recipes>
    </div>

    <div *ngIf="user && isTabSelected('hidden')">
        <app-profile-recipes
            #privateRecipes
            [is_public]="false"
            [owner]="user.id"
        ></app-profile-recipes>
    </div>

    <div *ngIf="user && isTabSelected('saved')">
        <app-profile-saved-lists
            #recipeLists
            [owner]="user.id"
        ></app-profile-saved-lists>
    </div>

</ion-content>