<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Perfil
      </ion-title>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
        <ion-buttons slot="end" *ngIf="user && itsMe()">
            <ion-button (click)="setOpen(true)">
                <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
  </ion-header>
<ion-content [fullscreen]="true">
    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>

    <ion-action-sheet
        [isOpen]="isActionSheetOpen"
        translucent="true"
        [buttons]="menuButtons"
        (didDismiss)="profileMenuResult($event)"
    ></ion-action-sheet>
    <ion-grid>
        <ion-row>
            <ion-col>
                <div
                    class="image"
                    [ngStyle]="
                        {
                        'background-image':
                        'url(' + (user && user.image  ? user.image_data.image : 'https://ionicframework.com/docs/img/demos/avatar.svg') + ')'
                        }
                    ">
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-text>
                    <h3 *ngIf="loaded" style="text-align: center;">@{{user.username}}</h3>
                    <ion-skeleton-text
                        [animated]="true"
                        style="width: 70px;margin:0px auto"
                        *ngIf="!loaded"
                        ></ion-skeleton-text>
                </ion-text>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid *ngIf="user && itsMe()">
        <ion-row>
            <ion-col [ngClass]="{'selected': tab.selected}" (click)="selectTab(tab)" class="profile-tab" *ngFor="let tab of tabs">
                <ion-icon [name]="!tab.selected ? tab.icon + '-outline' : tab.icon"></ion-icon>
                <ion-ripple-effect></ion-ripple-effect>
            </ion-col>
        </ion-row>
    </ion-grid>

    <div *ngIf="user && isTabSelected('recipes')">
        <app-profile-recipes
            #publicRecipes
            [is_public]="true"
            [owner]="user.id"
        ></app-profile-recipes>
    </div>

    <div *ngIf="user && isTabSelected('hidden')">
        <app-profile-recipes
            #privateRecipes
            [is_public]="false"
            [owner]="user.id"
        ></app-profile-recipes>
    </div>

    <div *ngIf="isTabSelected('saved')">
        <ion-alert
            trigger="present-alert"
            header="Crea una lista"
            [buttons]="alertButtons"
            [inputs]="alertInputs"
            (didDismiss)="setResult($event)"
        ></ion-alert>
        <ion-grid style="margin-top: 0px !important;">
            <ion-row style="margin-bottom: 20px;">
                <ion-col>
                    <ion-item id="present-alert">
                        Nueva lista
                        <ion-icon name="add-outline" slot="end"></ion-icon>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="6" *ngFor="let recipeList of recipeLists">
                    <div class="card-list-element" (click)="goList(recipeList.id)">
                        <ion-icon class="saved-icon saved-icon-bg" name="bookmark" *ngIf="recipeList.is_default_list"></ion-icon>
                        <ion-grid [ngClass]="{'four-recipes-default': recipeList.is_default_list}" class="four-recipes">
                            <ng-container *ngFor="let row of [0, 1]">
                                <ion-row>
                                    <ng-container *ngFor="let col of [0, 1]">
                                        <ion-col
                                            class="recipe-detail"
                                            [ngStyle]="{
                                                'border-top-left-radius': row === 0 && col === 0 ? '10px' : '0',
                                                'border-top-right-radius': row === 0 && col === 1 ? '10px' : '0',
                                                'border-bottom-left-radius': row === 1 && col === 0 ? '10px' : '0',
                                                'border-bottom-right-radius': row === 1 && col === 1 ? '10px' : '0',
                                                'background-image': 'url(' + ((recipeList.recipes_data[row * 2 + col] && recipeList.recipes_data[row * 2 + col].image_data) ? recipeList.recipes_data[row * 2 + col].image_data.image : '') + ')'
                                            }"
                                        ></ion-col>
                                    </ng-container>
                                </ion-row>
                            </ng-container>
                        </ion-grid>
                        <h5 class="list-name">
                            {{ recipeList.name.length > 14 ? (recipeList.name | slice:0:15) + '...' : recipeList.name }}
                        </h5>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

</ion-content>